{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
    <section id="invite" class="pad-xs ">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="black pull-left">{{ merchant.trading_name | default:"Test Merchant" }} </h3>
          </div>
          <div class="col-xs-6">
            <img class="pull-right" width="150" src="{% static 'img/logo-horizontal.png' %}">    
          </div>
        </div>      
        <div class="row pad-sm">
          <div class="col-sm-5 ">
            <h3 class="black">Payment for {{ transaction.reference }} - {{ merchant.trading_name }}</h3>  
            <table class="table">

            <tbody>
              <tr class="active">
                <td>{{ transaction.item_name | default:"No Name" }}</td>
                <td> {{ transaction.item_description | default:"Not Provided" }}</td>
                <td>R {{ transaction.amount | default:"0.00" }}</td>
              </tr>
              <tr class="text-success">
                <td>Payment Total</td>
                <td></td>
                <td >R {{ transaction.amount | default:"0.00" }}</td>
              </tr>
            </tbody>
    
            </table>  

          </div>

          <div class="col-sm-7 ">
            <h3 class="black">Please make your payment:</h3>  
            <div class="bs-example" data-example-id="simple-nav-tabs">
                <div class="">
                {% if transaction.status == 'Pending' %}
                  <div class="alert alert-success " >
                    <p class="text-default small">
                    You have <strong class="text-warning " id="getting-started">less than 15 minutes</strong> remaining to transfer R {{ transaction.amount }} {{ transaction.airtime_deposit_lead.sim_card.network.name }} airtime to {{ transaction.airtime_deposit_lead.sim_card.msisdn }}. Please visit <a href="http://help.crowdcoin.co.za" target="_tab" class="text-info">Help.crowdcoin.co.za</a> for assistance.
                    </p>
                  </div>
                        <table class="table">
                        <thead>
                          <tr>
                            <th>Instructions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td>
                              <ol>
                                <li> Dial <a class="text-dark" href="tel://*111#" ><strong>*111#</strong></a></li>
                                <li>Select <strong class="text-dark" > Airtime Transfer</strong></li>
                                <li>Transfer <strong class="text-dark" >R {{ transaction.amount }}</strong> airtime to <strong class="text-dark" >{{ transaction.airtime_deposit_lead.sim_card.msisdn }}</strong></li>
                              </ol>                  
                            </td>
                          </tr>
                        </tbody>
                
                        </table> 

                  
                  {% elif transaction.status == "Canceled" %}
                  <h3 class="title">This transaction has been canceled.</h3>
                  <ol>
                    <li>Pending trasactions are Cancelled after <a class="text-dark" ><strong>15 Minutes</strong>. </a></li>
                    <li><strong class="text-dark" >Don't transfer airtime in multiple denominations </strong>(e.g 55 + 5 = R60) as they take time to allocate.</li>
                  </ol>   

                  {% elif transaction.status == "Accepted" %}
                  <h3 class="title">{{ transaction.reference }} - This transaction has been completed successfully.</h3>
                    <p class="default">
                      Please contact  {{ merchant.trading_name}}   for any quiries. 
                    </p>

                  {% endif %}
                  
                        <div class="row pad-xs">
                          <div class="col-sm-12 ">
                            <form  action="/process/"  method="POST">
                            {% csrf_token %}                                                                                                                                                              
                              <div class="col-xs-10">
                                {% if transaction.status == 'Pending' %}
                                <!-- <div class="col-xs-6 wow fadeInUp" data-wow-delay="1.4s">
                                  <input type="button" class="btn btn-primary btn-lg" value="Refresh Status" onClick="window.location.reload()">
                                </div>  -->
                                <div class="col-xs-4 text-left wow fadeInUp" data-wow-delay="1s">
                                  <a href="{{ transaction.cancel_url }}?reference={{ transaction.reference }}" class="btn btn-warning btn-lg ">Cancel Payment</a>
                                </div>                    
                                {% elif transaction.status == 'Canceled' %} 
                                <div class="col-xs-6 wow fadeInUp" data-wow-delay="1.4s">
                                <a href="{{ transaction.cancel_url }}?reference={{ transaction.reference }}" class="btn btn-warning btn-lg ">RETURN TO MERCHANT PAGE</a>
                                </div>       
                                {% elif transaction.status == 'Accepted' %} 
                                <div class="col-xs-6 wow fadeInUp" data-wow-delay="1.4s">
                                <a href="{{ transaction.return_url }}?reference={{ transaction.reference }}" class="btn btn-success btn-lg ">RETURN TO MERCHANT PAGE</a>
                                </div>     
                                {% endif %}
                              </div><!--End Button Row-->     
                              <input type="hidden" name="screen" value="swap_form_verify_otp">                 
                            </form>
                          </div>
                        </div><!--End Form row-->

    
          </div>
        </div>
      </div>
    </section>
                
    



  {% include "footer.html" %}
<script type="text/javascript">
var transaction_date = new Date("{{  transaction.created}}"),
newDateObj = new Date();
newDateObj.setTime(transaction_date.getTime() + (15 * 60 * 1000));
//var expiary_date = transaction_date.setMinutes(transaction_date.getMinutes+5);
  $("#getting-started")
  .countdown( newDateObj, function(event) {
    console.log(event);
    $(this).text(
      event.strftime('%M minutes and %S seconds')
    );
  });
</script>  
{% endblock %}