{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}
{% load humanize %}
{% block content %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#invite" >Buy Voucher</a></li>
            <li><a href="/#main-info" >How It Works</a></li>
            <li><a href="/#pricing" >Pricing</a></li>
            <li><a href="http://help.crowdcoin.co.za" target="_blank" >FAQ</a></li>
            <li><a href="https://merchant.crowdcoin.co.za/" target="_blank">Become A Merchant</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

     <section id="status-header" class="pad-xl">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center margin-30 wow fadeIn" data-wow-delay="0.6s">
            <h2>Thank You. This Crowdcoin Voucher Is Currently 
              <strong  {% if voucher.status == 'Awaiting Collection' %} class="blue" {% elif voucher.status == 'Collected' %} class="yellow" {% else %} class="purple" {% endif %}>{{ voucher.status |default:"Does Not Exist" }}</strong>
            </h2>
            <small class="white">(Scroll Down For Extra Details)</small>
          </div>
        </div>
        
        <div class="iphone wow fadeInUp text-center text-warning" data-wow-delay="1s">
            <img src="{% static 'img/iphone.png' %}" >
        </div>
      </div>
    </section>
   
    
    <section id="invite" class="pad-lg light-gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h2 class="black">Extra Voucher Details</h2>
            <br/>
            <ol {% if voucher.status == 'Awaiting Collection' %} class="text-center alert list-unstyled h3 blue" {% elif voucher.status == 'Collected' %} class="text-center alert list-unstyled h3 yellow" {% else %} class="text-center alert list-unstyled h3 purple" {% endif %} >
              <li>Status: {{ voucher.status |default:"_ _ _ _ _ _ "   }}</li>
              <li>Amount: {{ voucher.amount |default:"_ _ _ _ _ _ "   }}</li>
              <li>Voucher: {{ voucher.voucher_code |default:"_ _ _ _ _ _ " }}</li>
              <li>Recipient: {{ voucher.recipient_msisdn|slice:"0:4"   }}****{{ voucher.recipient_msisdn|slice:"8:10"   }}</li>
            </ol>            
            <div class="row">
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                    <hr class="line purple">
                    <h3>1. Pending</h3>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                    <hr  class="line blue">
                    <h3>2. Awaiting Collection</h3>
                </div>
                <div class="col-sm-4 wow fadeIn" data-wow-delay="1.2s">
                    <hr  class="line yellow">
                    <h3>3. Collected</h3>
                </div>
            </div>  
          </div>
        </div>
      </div>
    </section>
                
    


  {% include "footer.html" %}
{% endblock %}