{% extends 'base.html' %}

{% block title %} Merchant{% endblock %}

{% block content %}

    <div class="wrapper">
    {% include "side-bar.html" %}

	    <div class="main-panel">
			{% include "top-nav-bar.html" %}

			<div class="content">
				<div class="container-fluid">
					<div class="row">
                        <div class="col-lg-6 col-lg-offset-3 ">
                            <div class="card card-plain">

    							<div class="content text-center">
    								<h3 class="category text-success"><i class="material-icons">check_circle</i> Successful</h3>
    								<h4 class="card-title">
                                        Your purchase has been completed.
                                        <br/>
                                        Please allow up to 48 Business hours for changes to reflect on your account.
                                    </h4>
    								<p class="card-content">
                                    <div class="col-md-12 text-center">
                                        <a href="/" class="btn btn-link " data-background-color="green" value="Proceed">Back to Dashboard</a>
                                    </div>
    								</p>
    							</div>
    						</div>
						</div>
					</div>

				</div>
			</div>

			{% include 'footer.html' %}
		</div>

    </div>
{% endblock %}
